@charset "UTF-8";
html, body {
	height: 100%; /*外層高度100%*/
	margin: 0;
}
.wrapper {
	min-height: 100%; 
	/*外層高度100%*/
	margin-bottom: -50px; 
	/*隨footer高度需做調整*/
}
.content{
    min-height: 100%;
	padding-bottom: 50px; /*避免文字超出瀏覽器時，內容區塊不會和footer打架*/
}
header {
	background-color:rgb(157, 191, 187);
	color:white;
	font-size:30px; 
	font-family:"Times New Roman","標楷體";
	height: 80px;
}
footer {
	height: 50px;
	width:100%;
	position: absolute;
	background-color:rgb(157, 191, 187);
	color:black; 
	font-size:15px; 
	font-family:"Times New Roman","標楷體";
	text-align:center;
}

